[flake8]
max-line-length = 79
indent-size = 2
max-complexity = 10
ignore =
  W503,  # Line break occurred before a binary operator
  W504,  # Line break occurred before a binary operator
  E226,  # Missing whitespace around arithmetic operator
  E121,  # Continuation line under-indented for hanging indent
  E123,  # Closing bracket does not match indentation of opening bracket's line
  E704,  # Multiple statements on one line (def)
  E24,
  E126,  # Continuation line over-indented for hanging indent
# custom error codes list; should be removed eventually
  E302,  # Expected 2 blank lines, found 0
  E305,  # Expected 2 blank lines after end of function or class
  E402,  # Module level import not at top of file
  F811,  # Redefinition of unused name from line n
  E126,  # Continuation line over-indented for hanging indent
  E501,  # too-long line -- TODO reformat them
